.color {
    color: #e73c3e;
}

.bg-color {
    background-color: #e73c3e;
    color: #fff;
}

.active {
    color: #e73c3e !important;
}

.btn-out-main {
    border: 1px solid #e73c3e;
    color: #000;
}

.btn-out-main:hover {
    border: 1px solid #e73c3e;
    background-color: #e73c3e;
    color: #fff;
}

table th,
table td {
    border: 2px solid #000;
    font-weight: 500;
    width: 50%;
}